{% extends "orders/layout.html" %}

{% block title %}
    Pinocchio's Pizza & Subs
{% endblock %}

{% block content %}
<div class="content">
    <h3>Pinocchio's Pizza & Subs</h3>
    <h4>Location</h4>
    <a class="nostyle" target="_blank" href="https://www.google.com/maps/place/74+Winthrop+St,+Cambridge,+MA+02138">
    74 Winthrop St<br>
    Cambridge, MA 02138
    </a>
    <h4>Hours</h4>
    <a class="nostyle" href="{% url 'menu' %}"><h4>Menu</h4>View and place online order here</a>
</div>
{% endblock %}
