{% extends "orders/layout.html" %}
{% load orders_tags %}

<!-- menu_dict[category][item][size]['price'] -->

{% block title %}
    Menu - Pinocchio's Pizza & Subs
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ static 'orders/menuscripts.js' }}"></script>
{% endblock %}

{% block content %}
<div class="content">
    <h3>Menu</h3>
    {{ menu_dict.Subs.Cheese.Small.Price }}
    {% for category in menu_dict %}
        <h4>{{ category }}</h4>
        <table>
            {% if menu_dict[category]['sizes']|length > 1 %}
                <tr>
                    <th></th>
                {% for size in menu_dict[category]['sizes'] %}
                    <th>{{ size }}</th>
                {% endfor %}
                </tr>
            {% endif %}
            {% for item in menu_dict[category] %}
                {% if item != 'size' %}
                    <tr>
                        <td>{{ item }}</td>
                        {% for size in menu_dict[category][item] %}
                            <td>{{ menu_dict[category][item][size][price] }}</td>
                        {% endfor %}
                    </tr>
                {% endif %}
            {% endfor %} 
        </table>
    {% endfor %}
</div>
{% endblock %}